/* =========================
   Home
========================= */
body#home {
    background:
        url(../imagens/capa.png),
        url(../imagens/ruido.png),
        linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
    overflow-x: hidden;
}

/* Tipografia da home */
body#home h1 {
    font-size: 6em;
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: white;
}

body#home h2 {
    font-size: 3em;
    color: #7c25f8;
}

body#home h3 {
    font-size: 2em;
}

/* Seções */
#servicos {
    background: white;
}

#recursos h2 {
    color: white;
}

#recursos h3 {
    color: #9bf0e1;
}