/* =========================
   Layout geral
========================= */
body:not(#home) {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.capa {
    text-align: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa {
    padding: 20px 0;
}

.conteudo-interno {
    background: #282828;
    padding: 30px;
    border-radius: 15px;
    margin-top: 100px;
    color: white;
}

body:not(#home) .caixa {
    flex-grow: 1;
}

/* =========================
   Footer
========================= */
footer {
    background: #000;
    padding: 50px 0 20px;
    border-top: 1px solid #333;
}

footer h4 {
    color: #919496;
    font-size: 1em;
    text-transform: uppercase;
    margin-bottom: 15px;
}

footer ul {
    list-style: none;
    padding-left: 0;
}