  </main>

  <footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-auto mb-4">
                <h4>Company</h4>
                <ul class="navbar-nav">
                    <li><a href="{{path_prefix}}pages/sobre.html">Sobre</a></li>
                    <li><a href="{{path_prefix}}pages/empregos.html">Empregos</a></li>
                    <li><a href="{{path_prefix}}pages/imprensa.html">Imprensa</a></li>
                    <li><a href="{{path_prefix}}pages/novidades.html">Novidades</a></li>
                </ul>
            </div>
            <div class="col-lg-auto mb-4">
                <h4>Comunidades</h4>
                <ul class="navbar-nav">
                    <li><a href="{{path_prefix}}pages/artistas.html">Para Artistas</a></li>
                    <li><a href="{{path_prefix}}pages/desenvolvedores.html">Desenvolvedores</a></li>
                    <li><a href="{{path_prefix}}pages/marcas.html">Marcas</a></li>
                </ul>
            </div>
            <div class="col-lg-auto mb-4">
                <h4>Links Úteis</h4>
                <ul class="navbar-nav">
                    <li><a href="{{path_prefix}}pages/ajuda.html">Ajuda</a></li>
                    <li><a href="{{path_prefix}}pages/player-da-web.html">Player da Web</a></li>
                    <li><a href="{{path_prefix}}pages/aplicativo-movel-gratis.html">Aplicativo móvel grátis</a></li>
                </ul>
            </div>
            <div class="col-lg-auto mb-4">
              <h4>Site feito com:</h4>
              <ul id="media">
                  <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-plain-wordmark.svg" class="espaco devicon-img" alt="HTML5"></li>
                  <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-plain-wordmark.svg" class="espaco devicon-img" alt="CSS3"></li>
                  <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-plain.svg" class="espaco devicon-img" alt="JavaScript"></li>
              </ul>
          </div>
          <div class="col-lg-auto mb-4">
              <h4>Site feito por:</h4>
              <ul class="navbar-nav">
                  <li><a href="https://github.com/Domisnnet/" target="_blank" class="navbar-link externo" id="dev">DomisDev</a></li>
              </ul>
          </div>
            <div class="col-lg-auto mb-4 ml-lg-auto">
                <h4>Redes Sociais</h4>
                <ul class="social-media-icons">
                    <li><a href="#" aria-label="Facebook"><img src="{{path_prefix}}src/imagens/facebook.png" class="social-icon" alt="Facebook"></a></li>
                    <li><a href="#" aria-label="Twitter"><img src="{{path_prefix}}src/imagens/twitter.png" class="social-icon" alt="Twitter"></a></li>
                    <li><a href="#" aria-label="Instagram"><img src="{{path_prefix}}src/imagens/instagram.png" class="social-icon" alt="Instagram"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

  <script src="{{path_prefix}}vendor/jquery/jquery.min.js"></script>
  <script src="{{path_prefix}}vendor/popper/popper.min.js"></script>
  <script src="{{path_prefix}}vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{path_prefix}}src/js/app.js" defer></script>
</body>

</html>