<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{meta_description}}">

  <title>{{title}}</title>
  <link rel="icon" href="{{path_prefix}}src/imagens/favicon.png">

  <link rel="stylesheet" href="{{path_prefix}}vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{path_prefix}}vendor/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="{{path_prefix}}vendor/devicons/devicons.min.css">
  <link rel="stylesheet" type="text/css" href="{{path_prefix}}src/css/estilos-globais.css">
</head>

<body id="{{body_id}}">
  <header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top navbar-transparente">
      <div class="container">
        <a href="{{path_prefix}}index.html" class="navbar-brand">
          <img src="{{path_prefix}}src/imagens/KingDomfy.png" width="100" alt="Logo KingDomfy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-principal" aria-controls="nav-principal" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="nav-principal">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="{{path_prefix}}pages/premium.html" class="nav-link">Premium</a></li>
            <li class="nav-item"><a href="{{path_prefix}}pages/ajuda.html" class="nav-link">Ajuda</a></li>
            <li class="nav-item"><a href="{{path_prefix}}pages/baixar.html" class="nav-link">Baixar</a></li>
            <li class="nav-item divisor"></li>
            <li class="nav-item"><a href="{{path_prefix}}pages/inscrever-se.html" class="nav-link">Inscrever-se</a></li>
            <li class="nav-item"><a href="{{path_prefix}}pages/entrar.html" class="nav-link">Entrar</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>