<header>
  <nav class="navbar navbar-expand-md navbar-light absolute-top navbar-dark">
    <div class="container">
      <a href="{{BASE}}index.html" class="navbar-brand">
        <img src="../src/assets/imagens/King-Domfy-logo.png" alt="Logo King Domfy">
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#nav-principal"
        aria-controls="nav-principal"
        aria-expanded="false"
        aria-label="Abrir menu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="nav-principal">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="{{BASE}}pages/premium.html" class="nav-link">Premium</a>
          </li>
          <li class="nav-item">
            <a href="{{BASE}}pages/ajuda.html" class="nav-link">Ajuda</a>
          </li>
          <li class="nav-item">
            <a href="{{BASE}}pages/baixar.html" class="nav-link">Baixar</a>
          </li>
          <li class="nav-item divisor"></li>
          <li class="nav-item">
            <a href="{{BASE}}pages/inscrever-se.html" class="nav-link">Inscrever-se</a>
          </li>
          <li class="nav-item btn-custom">
            <a href="{{BASE}}pages/entrar.html" class="nav-link">Entrar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>